<a class="github-button" href="https://github.com/microsoft/multi-agent-reference-architecture" data-icon="octicon-star" data-size="large" data-show-count="true" aria-label="Give us a star on GitHub">Star</a>

<script async defer src="https://buttons.github.io/buttons.js"></script>